.home-card {
  max-width: 340px;
  height: 340px;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  background: rgb(102, 102, 102);
  background: linear-gradient(
    0deg,
    rgba(102, 102, 102, 1) 0%,
    rgba(255, 96, 96, 1) 100%
  );
  img {
    //visibility: hidden;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
    transition: transform 0.4s ease-in-out;
  }
  h3 {
    position: absolute;
    font-weight: 700;
    font-size: 18px;
    color: #ffffff;
    text-shadow: black 1px 0 10px;
    bottom: 0px;
    left: 18px;
    max-width: 220px;
  }
  &:hover {
    transform: scale(1.04);
  }
}

@media screen and (max-width: 950px) {
  .home-card {
    height: 260px;
  }
}
