.header-div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 30px 0;
  .logo-div {
    width: 50%;
    img {
      filter: drop-shadow(0px 5px 4px #a1a1a1);
    }
  }
  .nav-div {
    display: flex;
  }
  .nav-link {
    color: #ff6060;
    text-decoration: none;
    font-weight: 500;
    font-size: 24px;
    cursor: pointer;
  }
  nav ul a:nth-child(1) {
    margin-right: 48px;
  }
  .active-link {
    text-decoration: underline;
  }
}

@media screen and (max-width: 950px) {
  .header-div {
    justify-content: space-between;
    margin: 0px 0 0 0;
    .logo-div {
      width: 50%;
      img {
        margin-left: 12px;
        width: 125px;
      }
    }
    .nav-div {
      margin-right: 12px;
      width: 50%;
      flex-direction: row-reverse;
      ul {
        padding: 0;
        .nav-link {
          font-size: 18px;
        }
      }
    }
    nav ul a:nth-child(1) {
      margin-right: 12px;
    }
  }
}
