.infos-container {
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 1240px;
  width: 100%;
  margin: auto;
}
.infos-container .accomodation-header {
  color: #ff6060;
}
.infos-container .accomodation-header .accomodation-title {
  font-size: 36px;
  font-weight: 500;
  text-align: left;
  margin-top: 30px;
  width: 70%;
}
.infos-container .accomodation-header .accomodation-location {
  font-size: 18px;
  font-weight: 500;
  text-align: left;
  line-height: 25.67px;
}
.infos-container .tags {
  display: flex;
  gap: 10px;
  flex-direction: row;
}
.infos-container .tags .accomodation-tag {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ff6060;
  border-radius: 50px;
  font-size: 14px;
  color: white;
  height: 25px;
  width: 150px;
}
.infos-container .user {
  position: absolute;
  right: 20px;
  top: 24px;
  width: 167px;
  height: 64px;
}
.infos-container .user .accomodation-host {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.infos-container .user .accomodation-host img {
  height: 64px;
  width: 64px;
  border-radius: 100%;
  object-fit: 100%;
}
.infos-container .user .accomodation-host p {
  font-size: 18px;
  font-weight: 500;
  color: #ff6060;
  width: 93px;
  margin: 10px 10px 0 0;
  text-align: right;
}
.infos-container .accomodation-stars {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  position: relative;
}
.infos-container .accomodation-stars .star {
  height: 23px;
  width: 23px;
  margin-left: 10px;
}
.infos-container .accomodation-stars .empty-star-container {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  top: 27px;
  left: 5px;
}
.infos-container .accomodation-stars .filled-star-container {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  z-index: 20;
  top: 27px;
  left: 5px;
}
.infos-container .collapse-container {
  display: flex;
  gap: 30px;
}
.infos-container .collapse-container .collapse-description {
  width: 50%;
}
.infos-container .collapse-container .collapse-equipment {
  width: 50%;
}

@media screen and (max-width: 950px) {
  .accomodation-div {
    margin: auto;
    width: 90%;
  }
  .accomodation-div .infos-container {
    width: 100%;
    margin: auto;
  }
  .accomodation-div .infos-container .tags {
    margin: auto;
    display: flex;
    gap: 10px;
    flex-direction: row;
  }
  .accomodation-div .infos-container .tags .accomodation-tag {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ff6060;
    border-radius: 50px;
    font-size: 14px;
    color: white;
    height: 25px;
    width: 150px;
  }
  .accomodation-div .infos-container .user {
    position: inherit;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    width: 167px;
    height: 64px;
  }
  .accomodation-div .infos-container .user .accomodation-host {
    justify-content: flex-end;
    display: flex;
    flex-direction: row;
    width: 167px;
  }
  .accomodation-div .infos-container .user .accomodation-host img {
    height: 64px;
    width: 64px;
    border-radius: 100%;
    object-fit: 100%;
  }
  .accomodation-div .infos-container .user .accomodation-host p {
    font-size: 18px;
    font-weight: 500;
    color: #ff6060;
    width: 93px;
    margin: 10px 10px 0 0;
    text-align: right;
  }
  .accomodation-div .infos-container .collapse-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  .accomodation-div .infos-container .collapse-container .collapse-description {
    width: 100%;
  }
  .accomodation-div .infos-container .collapse-container .collapse-equipment {
    width: 100%;
  }
}

/*# sourceMappingURL=Accomodation.css.map */
